@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>


<address>
    25 Scott Street<br />
    Waverly<br />
    <abbr title="Phone">011 0256 012</abbr>
    /074 2555 501
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@wepark.com">Support@wepark.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@wepark.com">Marketing@wepark.com</a>
</address>